[buildout]
log-level = DEBUG
offline = false
newest = false
unzip = true
download-cache = ${buildout:directory}/cache/
parts = python
develop = .
eggs = 
	synthesis
	gnupg
	SQLAlchemy
	sqlalchemy-migrate
	zope.interface
	psycopg2
versions = release-versions

[release-versions]
python-gnupg = 0.2.1
SQLAlchemy = 0.4.7p1
sqlalchemy-migrate = 0.4.5
zope.interface = 3.3.0
psycopg2 = 2.0.7
lxml = 2.1.1
pyinotify = 0.7.1

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
