[buildout]
log-level = DEBUG
offline = false
newest = false
unzip = true
download-cache = ${buildout:directory}/cache/
parts = 
    lxml
	python
	synthesis
develop = .
eggs =
	lxml
	pyinotify
	psycopg2
	gnupg
	SQLAlchemy
	sqlalchemy-migrate
	zope.interface
	python-dateutil
	distribute	
find-links =
# psycopg2
	http://initd.org/pub/software/psycopg/PSYCOPG-2-0/
# gnupg
	http://code.google.com/p/python-gnupg/downloads/list

versions = release-versions

[release-versions]
python-gnupg = 0.2.1
SQLAlchemy = 0.4.7p1
sqlalchemy-migrate = 0.4.5
zope.interface = 3.3.0
lxml = 2.1.2
zc.recipe.egg = 1.2.3b2
distribute = 0.6

[python]
recipe = zc.recipe.egg
interpreter = ${buildout:directory}/src/synthesis/python
extra-paths = {buildout:directory}/src/synthesis/
eggs = ${buildout:eggs}

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml == 2.1.2

[synthesis]
recipe = zc.recipe.egg:scripts
eggs = synthesis
